{% extends 'base.html' %}

{% block body %}
    <div class="button-container">
        <a href="/add-city" class="action-button">Add City</a>
        <a href="/remove-city" class="action-button">Remove City</a>
    </div>
    <div class="weather-container">
    {% for data in data_list %}
        <div class="weather-item">
            <h1>{{data.name}}</h1>
            <h2>{{(data.temp)|round|int}} 
                °C</h2>
            <h3>{{data.description}}</h3>
        </div>
    {% endfor %}
    </div>
{% endblock %}